<div class="Polaris-Layout__AnnotationWrapper">
  <div class="Polaris-Layout__Annotation">
    <div class="Polaris-TextContainer">
      <% if price_test_data.persisted? %>
        <h3 class="Polaris-Heading Polaris-DisplayText--sizeMedium">
          Current Price Test
        </h3>
        <%= link_to "Remove price test", price_test_path(price_test_data), method: :delete, confirm: 'Are you sure you want to delete this test?' %>
        <%= link_to "Deactivate price test", price_test_path(price_test_data, { price_test: { active: false } }), method: :patch, confirm: 'Are you sure you want to deactivate this test?' %>
      <% end %>
    </div>
  </div>
    <div class="Polaris-Layout__AnnotationContent">
      <div class="Polaris-Card__Section">
        <table>
          <thead>
            <th><strong>Title</strong></th>
            <th><strong>Current Price</strong></th>
          </thead>
          <% product.variants.each do |variant| %>
            <tr>
              <td><%= variant.variant_title %></td>
              <td class='variant-price'><%= variant.variant_price %></td>
              <% price_test_data['price_data'][variant.shopify_variant_id]['price_points'].map do |price| %>
                <td><%= price %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>