<h1>hello world</h1>
<h2>The number of products: <%= @product_count %></h2>
<%= link_to "Authorize Google", google_auth_path, target: '_blank' %>
<%= render 'partials/get_collection_form'%>
<%= render 'partials/search_form'%>
<%= render 'partials/std_products' unless @matches %>
<%= render 'partials/queried_products' if @matches %>

