<h1>Hello World</h1>
<p><%= @account_summaries.items[0].id %></p>
<p><%= @account_summaries.items[0].web_properties %></p>
<p><%= @account_summaries.items[0].web_properties[0].level %></p>

<p><%= @account_summaries.items %></p>

<ul>
  <% @account_summaries.items.each do |item| %>
      <li><%= item.name %> (<%= item.id %>)
        <ul>
          <% item.web_properties.each do |property| %>
              <li><%= property.name %> (<%= property.id %>)
                <ul>
                  <% property.profiles.each do |profile| %>
                      <li><%= profile.name %> (<%= profile.id %>)</li>
                  <% end %>
                </ul>
              </li>
          <% end %>
        </ul>
      </li>
  <% end %>
</ul>