<p> ================</p>
<%= @account_summaries %>
<br>
<%= link_to "Product Analysis", price_test_data_path %>
<br>
<p> ================</p>
<%= render 'partials/form', price_test_data: @price_test_data %>
<div class="row">
 <table>
      <thead>
        <th><strong>Product Title</strong></th>
        <th><strong>Product Revenue</strong></th>
        <th><strong>Product Detail Views</strong></th>
        <th><strong>Avg. Price</strong></th>
      </thead>
      <% @product_performance.reports[0].data.rows.each do |p| %>
        <tr>
          <td><%= p.dimensions[0] %></td>
          <td><%= p.metrics[0].values[0] %></td>
          <td><%= p.metrics[0].values[1] %></td>
          <td><%= p.metrics[0].values[2] %></td>
        </tr>
      <% end %>
</div>
<div class="row">
  <div class="col-md-6">
    <table>
      <thead>
        <th><strong>Product Title</strong></th>
        <th><strong>Product URL</strong></th>
        <th><strong>Product Views</strong></th>
      </thead>
      <% @account_summaries.reports[0].data.rows.each do |p| %>
        <tr>
          <td><%= p.dimensions[0] %></td>
          <td><%= p.dimensions[1] %></td>
          <td><%= p.metrics[0].values[0] %></td>
          <!-- variant [0], until all variants possibly as drop down? -->
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-6">
    <%= form_tag add_multiple_path, method: :post do %>
    <table>
      <thead>
        <th><strong>Product Title</strong></th>
        <th><strong>Product Price</strong></th>
        <th><strong>Add?</strong></th>
      </thead>
      <% @product_revenue.reports[0].data.rows.each_with_index do |p, index| %>
        <tr>
          <td><%= p.dimensions[0] %></td>
          <td><%= p.metrics[0].values[0] %></td>
          <td>
            <%= check_box_tag 'row[]', index %>
            <%= hidden_field_tag 'price_test_datum[product_title][]', p.dimensions[0] %>
            <%= hidden_field_tag 'price_test_datum[product_price][]', p.metrics[0].values[0] %>
          </td> 
        </tr>
      <% end %>
    </table>
    <%= submit_tag "Add selected" %>
    <% end %>

  </div>
</div>



