<% url = local_assigns[:product].present? ? price_tests_path : price_tests_bulk_path %>
<div class="Polaris-Layout__AnnotationWrapper">
  <div class="Polaris-Layout__Annotation">
    <div class="Polaris-TextContainer">
      <h2 class="Polaris-Heading">Form</h2>
      <p> Form Sample</p>
    </div>
  </div>
  <div class="Polaris-Layout__AnnotationContent">
    <div id="price-test-form", class="Polaris-Card">
      <div class="Polaris-Card__Section">
        <%= form_for price_test, url: url do |f| %>
          <% if local_assigns[:product].present? %>
            <%= f.hidden_field(:product_id, value: product.id) %>
            <%= f.hidden_field(:shopify_product_id, value: product.shopify_product_id) %>
          <% elsif local_assigns[:products].present? %>
            <%= f.hidden_field(:product_ids, value: products.map(&:id)) %>
          <% end %>
          <div role="group" class>
            <div class="Polaris-FormLayout__Items">
              <div class="Polaris-FormLayout__Item">
                <%= f.label(:percent_increase, class: "Polaris-Labelled__LabelWrapper")%>
                <%= f.number_field(:percent_increase, class: 'Polaris-TextField') %>
              </div>
              <div id="single_price_point",  class="Polaris-FormLayout__Item">
                <%= f.label(:percent_decrease, class: "Polaris-Labelled__LabelWrapper")%>
                <%= f.number_field(:percent_decrease, class: 'Polaris-TextField') %>
              </div>
            </div>
          </div>
          <div class="Polaris-FormLayout__Item">
            <%= f.label(:ending_digits, class: "Polaris-Labelled__LabelWrapper")%>
            <%= select("price_test", "ending_digits", [0.99, 0.95, 0.50, 0], {}, {class: 'Polaris-Select'}) %>
          </div>
          <div class="Polaris-FormLayout__Item">
            <%= f.label(:price_points, class: "Polaris-Labelled__LabelWrapper")%>
            <%= select("price_test", "price_points", [1, 2, 3, 4, 5], {}, {class: 'Polaris-Select'}) %>
          </div>
          <div class="Polaris-FormLayout__Item">
            <%= f.submit 'Start Price Test', class: 'Polaris-Button Polaris-Button--primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
