<div id="price-test-form">
<%= form_for price_test do |f| %>
  <%= f.hidden_field(:product_id, value: product.id) %>
    <div>
      <%= f.label(:percent_increase)%>
      <%= f.number_field(:percent_increase) %>
    </div>
    <div id="single_price_point">
      <%= f.label(:percent_decrease)%>
      <%= f.number_field(:percent_decrease, within: 1...100) %>
    </div>
  <div>
    <%= f.label(:ending_digits)%>
    <%= select("price_test", "ending_digits", [0.99, 0.95, 0.50, 0] ) %>
  </div>
  <div>
    <%= f.label(:price_points)%>
    <%= select("price_test", "price_points", [1, 2, 3, 4, 5]) %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
<div>
<%= form_tag(root_url,  method: :get) do %>
  <div>
    <text> Select number of product views for each price point.</text>
  </div>
    <%= select_tag "test_views", options_for_select([7500, 5000, 1500, 750]) %>
<% end %>
</div>

</div>
