<%= link_to "Authorize Google", google_auth_path, target: '_blank' %>
<%= render 'form', products: @products, price_test: @price_test %>
<%= link_to "Remove price test", price_tests_bulk_destroy_path(price_tests_ids: @selected_price_tests_ids), method: :delete %>

<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home"
      });
    });
  </script>
<% end %>
<%= content_tag :div,
  id: "hello-react",
  data: {
    name: 'Person',
    products: @products,
    shop_session: @shop_session,
    collections: @collections,
    products_path: products_path(:json)
}.to_json do %>
<% end %>
<div id="data"></div>
<%= paginate @products %>

