<%= javascript_pack_tag 'ProductShow' %>
<%= javascript_pack_tag 'PriceTestContainer' %>
<%= javascript_pack_tag 'PriceTestForm' %>
<h2 class="large-product-heading Polaris-Heading Polaris-DisplayText--sizeExtraLarge"><%= @product.title %></h1>
<% if @current_shop.trial? || @current_shop.has_subscription? %>
<% puts @test %>
  <%= content_tag :div, 
    id: "product-page",
    data: {
      product: @product,
      price_test_data: @price_test_data
      }.to_json do %>
  <% end %>
<% else %>
 <%= content_tag :div, id: 'recurring-charges-link-goes-here', data: { keys: 'you need' }.to_json do %><% end %>
<% end %>

<%= content_tag :div, 
  id: "price-test-container",
  data: {
    product: @product,
    price_test_data: @price_test_data
    }.to_json do %>
<% end %>
<div class='active-price-test-data'>
  <%= render 'price_tests/active_price_test_data', product: @product, price_test_data: @price_test_data if @price_test_data.try(:active) %>
</div>
<%= render 'price_tests/inactive_price_test_data', product: @product, price_test_data: @price_test_data unless @price_test_data.try(:active) %>
<%= render 'products/google_analytics_data_table', google_analytics_data: @google_analytics_data unless @google_analytics_data.try(:empty?) %>

