<h1><%= @product.title %></h1>
<h2><%= @collection %></h2>
<h1><%= @product.id %></h1>git

<%= link_to "Home", root_url %>
<%= render 'price_tests/form', product: @product, price_test: @price_test %>
<%= render 'price_tests/product_data_table' unless @price_test_data %>
<%= render 'price_tests/active_price_test_data' if @price_test_data %>
