<!DOCTYPE html>
<html>
<head>
  <title>PriceMagic</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/1.1.1/polaris.min.css">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'partials/header' %>

<main role="main">
	<%= yield %>
</main>

<%= render 'partials/footer' %>

</body>
</html>
