<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Shopify Embedded Example App</title>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="app-wrapper comet-faq-app">
      <div class="app-content">
        <%= render 'partials/header' %>
        <div style="float: right; margin-right: 20px;">
          <div>
            <a href='/recurring_charges' type="button" class="Polaris-Button" tabindex="0" aria-controls="Popover1" aria-owns="Popover1" aria-haspopup="true" aria-expanded="true">
              <span class="Polaris-Button__Content">
                <span>
                  Settings
                </span>
                <span class="Polaris-Button__Icon">
                  <span class="Polaris-Icon">
                    <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                      <path d="M5 8l5 5 5-5z" fill-rule="evenodd">
                      </path>
                    </svg>
                  </span>
                </span>
              </span>
            </a>
            </div>
        </div>
        <main role="main">
          <%= yield %>
        </main>
        <%= render 'partials/footer' %>
      </div>
    </div>

    <%= render 'layouts/flash_messages' %>

    <script src="https://cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>

    <script type="text/javascript">
      ShopifyApp.init({
        apiKey: "<%= ShopifyApp.configuration.api_key %>",
        shopOrigin: "<%= "https://#{ @shop_session.url }" if @shop_session %>",
        debug: <%= Rails.env.development? ? 'true' : 'false' %>,
        forceRedirect: true//<%= Rails.env.development? ? 'false' : 'true' %>
      });
    </script>

    <%= javascript_include_tag 'application' %>

    <% if content_for?(:javascript) %>
      <div id="ContentForJavascript" data-turbolinks-temporary>
        <%= yield :javascript %>
      </div>
    <% end %>
  </body>
</html>
